[Unit]
Description = Systemd unit for Prometheus Ipsec Exporter
After = network.target remote-fs.target apiserver.service

[Service]
Type = simple
ExecStart = /usr/local/bin/ipsec_exporter --config-path /etc/strongswan/ipsec.conf
Restart = on-failure
RestartSec = 30s

[Install]
WantedBy = multi-user.target

